@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poetsen+One&display=swap');

.font
    {
        font-family: "Poetsen One", sans-serif; 
        font-size:x-large; 
    }

* {
    box-sizing: border-box;
  }

[class*="."] {
  width: 100%;
  float: left;
  padding: 15px;
}
 @media only screen and (min-width:768px)
    {
        .table-right {width:40%}
        .table-left  {width:45%}
    }
img 
    {
        max-width: auto;
        max-height: 100%;
    }
body
    { 
        background-color:honeydew;
    }
            
h1 
    {
        color:maroon ; 
        text-align:center ;
    }
            
h2 
    {
        color: maroon; 
        text-align: center ;
        font-size: 30px;
    }

h3
    {
        color:maroon;
        font-size:25px;
    }

h4 
    {  
        text-align: center;
    }

h5
    {
        text-align:center;
        color:maroon;
        font-size: 20px;
    }
  
footer
    {
        border: 3px;
        padding:5px;
        background-color:navajowhite;
        margin:0px;
        color:maroon;
    }
blockquote 
    {
        font-size: large ; 
        text-align: center
    }
    
b 
    {
        font-size: large;
    }

p 
    {
       text-align: center; 
    }

table
    {
        justify-content: center;
        align-items: center;
        display:flex;
    }
           
a 
    {   
        color:maroon;
        text-decoration:none;
    }

a:hover 
    {
        color: black;
        font-weight:bold
    }

.audio-container 
    {
        display: flex ; 
        justify-content: center; 
        align-items: center;
    }
            
.video-container 
    { 
        justify-content: right; 
        align-items: right;
    }
           
.iframe-container 
    {
        display: flex ; 
        justify-content: center; 
        align-items: center;
    }
        
.centered 
    {
        text-align: center;
    }

.table-left
    {
        justify-content: left;
        margin: 10px;
    }

.table-right
    {
        float:right;
        margin: 10px;
    }

.text-section 
    {
        color:maroon; 
        font-style: oblique ;
    }

#center-content
    {
        text-align:center;
        display: flex;
        justify-content: center;
    }

#display-inline-block
    {
        display: inline-block;
    }

.row:after
    {
        content:"";
        clear:both;
        display:table;
    }

#navigation
    {
        justify-content:right;
        color: maroon;
        text-decoration:none;
        font-size: 20px;
        border: 3px;
        padding:5px;
        background-color:navajowhite;
        margin:0px;
    }

/**new additions**/

#myCanvas
    {
        border: 3px;
        border-style: solid;
        color: maroon;
        background-color:navajowhite;
        display: inline-block;
    }

.canvas
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

